.footer{
    width: auto;
height: 647px;
flex-shrink: 0;
background: var(--Primary-600, #090617);
}
.ul{
    color: white;
    list-style-type: none;
    
}
.text3{
    float: inherit;
}
.li{
     color: white;
     list-style-type: none;
}
.text4{
    margin-left: 347px;
    margin-top: -177px;
}
#logo{
    width: 39.2px;
height: 33.6px;
flex-shrink: 0;
margin-right: 166px;
    margin-bottom: -56px;
}
.mayuri{
        margin-left: -579px;
        margin-top: -213px;
        color: white;
      }
      
#facebook{
  display: flex;
  justify-content: center;
  list-style-type: none;
 gap: 20px;
      }
      .ff{
        margin-right: 24px;
      }

    #last{
        
            color: white;
            margin-top: 298px;
        
    }