.back{
    background-color: rgb(230, 226, 219);
}
.img-fluid{
    border-radius: 0px 20px 20px 0px;
background: lightgray 50% / cover no-repeat;
width: 290px;
height: 214px;
flex-shrink: 0;
display: flex;

}
#image0{
    background: linear-gradient(180deg, rgba(41, 33, 75, 0.00) 0%, rgba(41, 33, 75, 0.50) 100%), lightgray 50% / cover no-repeat;
    flex-shrink: 0;
}
.border{
    border-radius: 20px;
    background: #060143;
    width: 1312px;
height: 728px;
margin-left: 123px;

}
#form{
    width: 440px;
height: auto;
flex-shrink: 0;
border-radius: 20px;
background: var(--Shade-100, #FFF);
float: right;
margin-top: 60px;
margin-right: 20px
}
.hh66{
    margin-right: 186px;
}
.hh6{
    margin-top: -83px;
    margin-left: 163px;
}
#button{
    border-radius: 8px;
background: var(--Secondary-500, #EB334A);
    color: #E1E1E1; 
    display: flex;
width: 306px;
height: 48px;
padding: 12px 40px;
justify-content: center;
align-items: flex-end;
gap: 10px;
flex-shrink: 0; 
}
.text2{
    color: #E1E1E1;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}
#button1{
    display: flex;
padding: 15px 40px 12px 40px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--Shade-300, #E1E1E1);
background-color: transparent;
color: white;
}
#form2{
    width: 440px;
height: auto;
flex-shrink: 0;
border-radius: 20px;
background: var(--Shade-100, #ffffff);
margin-left: 109px;

}
.card-1{
    border-radius: 20px;
border: 1px solid var(--Shade-300, #E1E1E1);
background: var(--Shade-100, #FFF);
width: 342px;
height: 542px;
flex-shrink: 0;
margin-left: 612px;
    margin-top: -555px;
}
.card-2{
    border-radius: 20px;
border: 1px solid var(--Shade-300, #E1E1E1);
background: var(--Shade-100, #FFF);
width: 342px;
height: 249px;
flex-shrink: 0;
margin-left: 1089px;
    margin-top: -544px;
}
.card-3{
    border-radius: 20px;
border: 1px solid var(--Shade-300, #E1E1E1);
background: var(--Shade-100, #FFF);
width: 342px;
height: 249px;
flex-shrink: 0;
margin-left: 1089px;
margin-top: 19px
}
